@import "tailwindcss";

@theme {
  --color-brand-cyan: #22d3ee;
  --color-brand-dark: #0a0a0a;
  
  --font-outfit: var(--font-outfit);
  --font-work-sans: var(--font-work-sans);
}

@utility glass-panel {
  backdrop-filter: blur(24px);
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

body {
  background-color: var(--color-brand-dark);
  color: #ededed;
}
